<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<div style="text-align: left; margin: 0 auto; width: 60%;">
  <%= render 'form', bill: @bill %>
</div>
<%= link_to 'Products section', products_path %>
